@media print{
    .no-print {
        display: none;
    }

    body{
        background: #ffffff !important;
    }
}

.hide-scrollbar {
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
}

/* font-family: 'Grenze', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Marck Script', cursive; */

body {
    background: #ffffff;
    margin: 0 !important;
    padding: 0 !important;
}

.inputContainer {
    margin-top: 10px;
}

input {
    padding: 10px 20px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.container canvas {
    margin-bottom: 10px;
}

.sertifikat {
    width: 1200px;
    height: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid grey; */
    margin: 20px 0;
    position: relative;
    /* background-color: #ffffff; */
    /* background-image: url("https://raw.githubusercontent.com/rdfariz/sertifikat-input/master/img/Untitled-1-01.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

.sertifikat .bgImage {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title {
    font-family: 'Marck Script', cursive;
    font-size: 55pt;
    display: block;
}

.titleName {
    font-family: 'Grenze', serif;
    font-size: 45pt;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    /* text-decoration: underline; */
}

.subtitle {
    font-size: 17pt;
    display: block;
}

.subtitleName {
    font-size: 17pt;
    display: block;
}

.hr {
    background: #333333;
    width: 700px;
    height: 3.5px;
    display: block;
    margin: 0 0 20px 0;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* position: relative; */
    top: 18px;
    left: 35px;
    margin: 15px 0;
    position: absolute;
}

.logoContainer img {
    width: 80px;
    height: 80px;
    margin: 0 1.5px;
}

.contentSertifikat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ttdSertifikat {
    width: 930px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.ttdContent {
    margin: 0 10px;
}

.ttdContent:first-child {
    width: 30%;
}

.ttdContent:nth-child(2){
    width: auto;
}

.ttdContent:last-child {
    width: 30%;
}

.space {
    height: 80px;
    width: 100%;
}

hr {
    border-color: #333333;
    outline: none;
    background: #333333;
}